// GRID VARIABLES
$grid-columns: 12;
$grid-max-width: 100%;


// BREAKPOINTS
// $breakpoint-small: "only screen and (min-width: 20em)";
// $breakpoint-medium: "only screen and (min-width: 481px)";


// COLORS
$colorUno: #000;
$colorDos: #fff;
$colorTres: #555; 
$colorLink: red; 

// FONTS 
$fontNormal: 'arial', sans-serif;
$fontLight: 'arial', sans-serif;
$fontBook: 'arial', sans-serif;
$fontMedium: 'arial', sans-serif;
$fontBold: 'arial', sans-serif;


